/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;700&display=swap");
/* Shared Style  */
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.banner-info {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.nav-title {
  font-size: 2.8rem;
  color: #131313;
  font-weight: 700;
}

/* Header Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 800;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main Style */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.main-container {
  display: flex;
  align-items: center;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.main-container-text {
  padding-left: 70px;
  padding-right: 70px;
}
.main-title {
  font-size: 3rem;
}
.main-title,
.quick {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.main-title,
.of {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.main-title,
.features {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}

/* Features1 section */

.features1 {
  margin-top: 130px;
  display: flex;
  gap: 120px;
}
.features1 .nav-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-content .card {
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-image img{
  height: 90%;
  margin-left: 50px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;
  
}
.ten-years-badge p{
  font-size: 1.5rem;
}
.ten-years-badge h2{
  
    font-size: 4rem;
    margin: 0;
  
}

/* Facts Section */
.facts-container {
  display: flex;
  justify-content: space-around;
}

.facts-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-container .card-status {
  color: #424242;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-container .card-title {
  color: #727272;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsors style */
.sponsors {
  text-align: center;
}
.sponsors-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;

  gap: 50px;
}
.sponsors-image img {
  width: 165px;
}
/* footer section */

footer {
  border-radius: 8px;
  background: #fff4e7;
  /* padding: 20px 240px; */
  text-align: center;
  margin: 0 240px;
  padding: 40px 0;
}
footer.footer-title {
  color: #424242;

  font-size: 20px;

  font-weight: 400;
}

/* responsive media query */
/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .main-container,.features1,
  .facts-container,
  .sponsors-image {
    flex-direction: column;
  }

  .feature-image img{
    width: 90%;
  }
  .team-image {
    grid-template-columns: 1fr;
  }
  .main-container-text,
  .facts-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-container {
    gap: 10px;
  }
  footer{
    margin:unset;
  }
}

/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav,
  .main-container,
  .sponsors-image {
    flex-direction: column;
  }
}
