/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;700&display=swap");
/* Shared Style  */
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.banner-info {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}

/* Header Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  color: #131313;
  font-weight: 700;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 800;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main Style */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.main-container {
  display: flex;
  align-items: center;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.main-container-text {
  padding-left: 70px;
  padding-right: 70px;
}
.main-title {
  font-size: 3rem;
}
.main-title,
.quick {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.main-title,
.of {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.main-title,
.features {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}

/* responsive media query */
/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,.main-container{
    flex-direction: column;
  }
  .team-image{
    grid-template-columns: 1fr;
  }
  .main-container-text{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav, .main-container {
    flex-direction: column;
  }
}
